@using Microsoft.AspNetCore.Components.Web

<button class="btn btn-link" @onclick="ShowLogs">Show Logs</button>

<table class="table table-bordered">
	<tbody>
		<tr class="@css">
			<td>Level</td>
			<td><b>@logInfo.LogLevel</b></td>
		</tr>
		<tr>
			<td>CreationDate</td>
			<td><b>@logInfo.CreationDate</b></td>
		</tr>
		<tr>
			<td>Count</td>
			<td><b>@logInfo.ExceptionCount</b></td>
		</tr>
		<tr>
			<td>MachineName</td>
			<td><b>@logInfo.MachineName</b></td>
		</tr>
		<tr>
			<td>HostName</td>
			<td><b>@logInfo.HostName</b></td>
		</tr>
		<tr>
			<td>ApplicationName</td>
			<td>@logInfo.ApplicationName</td>
		</tr>
		<tr>
			<td>Context</td>
			<td><b>@logInfo.Context</b></td>
		</tr>
		<tr>
			<td>Message</td>
			<td><b>@logInfo.Message</b></td>
		</tr>
		<tr>
			<td>Environnement</td>
			<td><b>@logInfo.EnvironmentName</b></td>
		</tr>
        @foreach(var prm in logInfo.ExtendedParameterList)
        {
		    <tr>
			    <td>@prm.Key</td>
			    <td>@prm.Value</td>
		    </tr>
        }
        @if (!string.IsNullOrWhiteSpace(logInfo.ExceptionStack))
        {
		    <tr>
			    <td>Exception Stack</td>
			    <td>
                    @formatedExceptionStack
                </td>
		    </tr>
        }
    </tbody>
</table>


