@using Microsoft.AspNetCore.Components.Web

<tr @key="Log" class="@css">
    <td>
        <button class="btn btn-link @Log.LogId" @onclick="ShowLog">
            @Log.RowNumber
        </button>
    </td>
    <td>
        <span>@Log.CreationDate.ToString("dd/MM/yy")</span><br/>
        <span>@Log.CreationDate.ToString("hh:mm:ss")</span><br />
    </td>
    <td>@Log.ExceptionCount</td>
    <td>@Log.LogLevel</td>
    <td>
        <span>@Log.MachineName</span><br/>
        <span>@Log.HostName</span>
    </td>
    <td class="log-context">
        <span>@Log.ApplicationName</span><br/>
        <span>@Log.Context</span>
    </td>
    <td class="log-message">
        @Log.Message
		@if (Log.ExtendedParameterList.Any())
        {
            <br/>
			@foreach (var parameter in Log.ExtendedParameterList)
			{
                if (parameter.Value == null)
                {
                    continue;
                }
                <span>@parameter.Key: @parameter.Value</span>
				<br/>
			}
        }
    </td>
    <td>
		@Log.EnvironmentName
    </td>
</tr>
@if (!string.IsNullOrWhiteSpace(Log.ExceptionStack))
{
    var exceptionStack = Log.ExceptionStack.Replace("\r\n", "<br/>");

    var exceptionStackMarkup = new MarkupString(exceptionStack);
    <tr class="@css">
        <td colspan="10">
            @exceptionStackMarkup
        </td>
    </tr>
}


